################################################################################
# Visual Studio / .NET .gitignore
################################################################################

# ------------------------------------------------------------------------------
# Build output
# ------------------------------------------------------------------------------

**/bin/
**/obj/

# ------------------------------------------------------------------------------
# Visual Studio
# ------------------------------------------------------------------------------

.vs/
*.user
*.suo

# ------------------------------------------------------------------------------
# Test results
# ------------------------------------------------------------------------------

TestResults/

# ------------------------------------------------------------------------------
# Temporary files
# ------------------------------------------------------------------------------

*.tmp

# ------------------------------------------------------------------------------
# Operating system files
# ------------------------------------------------------------------------------

.DS_Store
Thumbs.db