################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs
/src/CodingProblem/bin/Debug/net10.0
/src/CodingProblem/obj
/src/ClassLibraryA/obj
/src/ClassLibraryA/bin/Debug/net10.0
/src/ThreadingPractice/bin/Debug/net10.0
/src/ThreadingPractice/obj
